<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>权限管理</title>
    <link rel="stylesheet" href="{__STATIC__}admin/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="{__STATIC__}admin/css/public.css" media="all">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>更改用户权限</legend>
</fieldset>

<form class="layui-form">
    {if !empty($userRole['roleName'])}
    <div class="layui-form-item">
        <label class="layui-form-label">请选择更改</label>
        <div class="layui-input-block">
            <select name="roleId" lay-filter="roleId">
                <option value="{$userRole['roleName']['id']}" selected="selected">{$userRole['roleName']['name']}</option>
                {foreach $userRole['data'] as $key=>$vo}
                <option value="{$vo.id}">{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    {else}
    <div class="layui-form-item">
        <label class="layui-form-label">请选择</label>
        <div class="layui-input-block">
            <select name="roleId" lay-filter="roleId">
                <option value="" selected="selected">请选择</option>
                {foreach $userRole['data'] as $key=>$vo}
                <option value="{$vo.id}">{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    {/if}


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
        </div>
    </div>
</form>

<script src="{__STATIC__}admin/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="{__STATIC__}admin/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="{__STATIC__}admin/js/common.js" charset="utf-8"></script>
<script>
    layui.use('form', function(){
        var form = layui.form,
            $ = layui.$;
        //各种基于事件的操作。

        form.on('submit(*)', function(data){

            $.ajax({
                type:'POST',
                data:{
                    "roleid":data.field.roleId,
                    "id":{$id}
                },
                url: '{:url("powerSave")}',
                success: (res) => {
                    if (res.status == '0')
                    {
                        layer.msg(res.message,{time:1000})
                        return false
                    }
                    //延迟关闭
                    layer.msg(res.message,{time:1000},function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index)
                    })
                    //setTimeout('window.location.reload()',1000);
                    //console.log(res)
                }
            })
            // ["董先生的CSDN"]
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>

</body>
</html>
